<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Трейлеры и Фотографии</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/ekko-lightbox.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">

    <link href="../../static/css/thumbnail-gallery.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../../static/js/html5shiv.js"></script>
        <script src="../../static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Главная</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Фильмы</a>
                    </li>
<!--
                    <li>
                        <a href="index.html#">Services</a>
                    </li>
                    <li>
                        <a href="index.html#">Contact</a>
                    </li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

    {% if  content[0][0] != 0 %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Трейлеры фильма</h1>
            </div>
            {% for trailer_count, trailer in content[0] %}
              {% if trailer_count % 4 == 0 %}
                <div class="row">
              {% endif %}
<!--
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ trailer }}"  data-toggle="lightbox" data-gallery="example-gallery" data-type="video">
                    <img class="img-fluid" src="{{ trailer }}" alt="">
                </a>
            </div>
-->
            <video controls class="embed-responsive-item"> 
            <!--replace this sample with your video-->
                <source src="{{ trailer }}" type="video/mp4">
            </video>

            {% if trailer_count % 4 == 3 %}
                </div>
            {% endif %}
          {% endfor %}
        </div>
    <hr>
    {% endif %}

    {% if  content[1][0] != 0 %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Фотографии фильма</h1>
            </div>
            {% for photo_count, photo in content[1] %}
              {% if photo_count % 4 == 0 %}
                <div class="row">
              {% endif %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ photo['photoUrl'] }}"  data-toggle="lightbox" data-gallery="example-gallery">
                    <img class="img-fluid" src="{{ photo['photoUrl'] }}" alt="">
                </a>
            </div>
            {% if photo_count % 4 == 3 %}
                </div>
            {% endif %}
          {% endfor %}
        </div>
    <hr>
    {% endif %}

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта <a href="http://www.afisha.ru">Афиша</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <script src="../../static/js/ekko-lightbox.js"></script>
    <script src="../../static/js/ekko-lightbox.min.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

</body>

</html>
