{% extends "layout.html" %}
{% block title %}"{{ film['Name'] }}"{% endblock %}
{% block page_header %}
    {{ film['Name'] }}
    <small style="float: right;">{{ film['AgeRating'] }}</small>
{% endblock %}
{% block body %}
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="{{ film['PhotoUrl']|default('https://img.afisha.ru/mobile_img/empty_256x144.jpg', true)|replace('https://', 'https://img06.rl0.ru/afisha/e1200x628w2cc/') }}" alt="">
                <div class="ratings">
                    <p></p>
                    <p class="pull-right"><span class="glyphicon glyphicon-film"></span> {{ film['Tags'] }}</p>
                    <p>
                        {% for star_count in range(film['Rate']|int) %}
                          <span class="glyphicon glyphicon-star"></span>
                        {% endfor %}
                        {% for star_count in range(10-film['Rate']|int) %}
                          <span class="glyphicon glyphicon-star-empty"></span>
                        {% endfor %}
                    </p>
                </div>
                <hr>
                <div class="reviews">
                    <p>{{ film['Description'] }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>О фильме</h3>
                <ul>
                    <li>Год: {{ film['Year'] }}</li>
                    <li>Страна: {{ film['Country'] }}</li>
                    <li>Жанр: {{ film['Genre'] }}</li>
                    <li>Длительность: {{ film['Length'] }} мин</li>
                    {% if film['Exit'] %}
                        <li>Дата выхода в России: {{ film['Exit'].strftime('%d.%m.%Y') }}</li>
                    {% endif %}
                </ul>
                <h3>Съемочная группа</h3>
                <ul>
                    <li>Режиссер: {{ film['Directors'] }}</li>
                    {% if film['Actors'] %}
                        <li>В ролях: {{ film['Actors'] }}</li>
                    {% endif %}
                    {% if film['SiteUrl'] %}
                        <li>Сайт: <a href="http://{{ film['SiteUrl'] }}">{{ film['SiteUrl'] }}</a></li>
                    {% endif %}
                </ul>
                <h3>Рейтинг</h3>
                <ul>
                    <li><a href="{{ film['AfishaPageUrl'] }}">Афиши: {{ film['Rate']|round(3) }} ({{ film['RateCount'] }})</a></li>
                    <li>{% if film['kp_id'] %}<a href="https://www.kinopoisk.ru/film/{{ film['kp_id'] }}/">{% endif %}Кинопоиска: {{ film['kp'][0] }} ({{ film['kp'][1] }}){% if film['kp_id'] %}</a>{% endif %}</li>
                    <li>{{ film['imdb'] }}</li>
                </ul>

            </div>
        </div>
{% endblock %}
