<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Фильмы в кинотеатрах Москвы</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/film.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Главная</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Фильмы</a>
                    </li>
<!--
                    <li>
                        <a href="index.html#">Кинотеатры</a>
                    </li>
                    <li>
                        <a href="index.html#">Contact</a>
                    </li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="col-lg-12">
            <h1 class="page-header">
                Сеансы в кинотеатрах Москвы
            </h1>
        </div>
      <div class="col-md-12">
      {% for film_count, film in films %}
      {% if film_count % 4 == 0 %}
        <div class="row">
      {% endif %}
          <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="thumbnail">
              <img src="{{ film[1]['photoUrl'] }}" alt="">
              <div class="caption">
                <!--    <h4 class="pull-right">{{ film[1]['PGRating'] }}</h4> -->
                <h4><a href="film/{{ film[0] }}">{{ film[1]['name'] }} ({{ film[1]['year'] }})</a>
                </h4>
                <p>{{ film[1]['verdict'] }}</p>
              </div>
              <div class="ratings">
                <p class="pull-right"><span class="glyphicon glyphicon-thumbs-up"></span> {{ film[1]['igoTotalCount'] }}</p>
                <p>
                {% for star_count in range(film[1]['rate_int']) %}
                  <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                {% for star_count in range(5-film[1]['rate_int']) %}
                  <span class="glyphicon glyphicon-star-empty"></span>
                {% endfor %}
                </p>
              </div>
            </div>
          </div>

      {% if film_count % 4 == 3 %}
        </div>
      {% endif %}
      {% endfor %}
      </div>
   </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта <a href="http://www.afisha.ru">Афиша</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
